/* 
  helper style 
*/

.pointer {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.font-10 {
  font-size: 10pt;
}

.font-12 {
  font-size: 12pt;
}

.font-14 {
  font-size: 14pt;
}

.font-16 {
  font-size: 16pt;
}

.font-18 {
  font-size: 18pt;
}

.font-22 {
  font-size: 22pt;
}

.font-24 {
  font-size: 24pt;
}

.font-36 {
  font-size: 36pt;
}

.font-48{
  font-size: 48pt;
}

.font-64{
  font-size: 64pt;
}

.fluid {
  width: 100%;
}

.fg-white {
  color: #f2f3f6;
}

.fg-red {
  color: #d13b27;
}

.fg-green {
  color: #52b153;
}

.fg-yellow {
  color: #dbd531;
}

.fg-orange {
  color: #f2ae57;
}

.fg-blue {
  color: #4b5cb9;
}

.fg-sky {
  color: #67a8eb;
}

.fg-midnight {
  color: #323535;
}

.fg-black {
  color: #2f3030;
}

.fg-gray {
  color: #a3a3a3;
}

.bg-white {
  background-color: #f6f7fa;
}

.bg-purple {
  background-color: #535594;
}

.bg-red {
  background-color: #d13b27;
}

.bg-yellow {
  background-color: #dbd531;
}

.bg-orange {
  background-color: #f2ae57;
}

.bg-green {
  background-color: #52b153;
}

.bg-tea {
  background-color: #2f7e30;
}

.bg-blue {
  background-color: #4b5cb9;
}

.bg-sky {
  background-color: #67a8eb;
}

.bg-midnight {
  background-color: #323535;
}

.bg-black {
  background-color: #2f3030;
}

.bg-gray {
  background-color: #a3a3a3;
}

.box-shadow {
  box-shadow: 2px 2px #383838;
}

.mx-1 {
  margin-left: 1px;
  margin-right: 1px;
}

.mx-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-7 {
  margin-left: 7px;
  margin-right: 7px;
}

.mx-9 {
  margin-left: 9px;
  margin-right: 9px;
}

.my-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.my-9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

button.btn {
  padding: 5px;
  min-width: 70px;
  min-height: 40px;
  border-radius: 10px;
  font-size: 12pt;
  font-weight: 400;
}

button.btn-default {
  background-color: #f6f7fa;
  color: #2f3030;
}

body {
  font-family: 'Niramit', sans-serif;
  display: block;
  margin: auto;
}

a {
  text-decoration: none;  
}

a.link {
  text-decoration: none;  
}

a.link:hover,
a.link:active,
a.link:focus {
  border-bottom: 2px solid;
}

a.brand,
a.brand:hover,
a.brand:active,
a.brand:focus {
  text-decoration: none;  
}

/*  content style */

[class*="col-"] {
  padding: 10px;
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 360px) {
  .col-xs-1 { 
    grid-column: span 1;    
  }
  .col-xs-2 { 
    grid-column: span 2;    
  }
  .col-xs-3 { 
    grid-column: span 3;
  }
  .col-xs-4 { 
    grid-column: span 4;
  }
  .col-xs-5 { 
    grid-column: span 5;
  }
  .col-xs-6 { 
    grid-column: span 6;
  }
  .col-xs-7 { 
    grid-column: span 7;
  }
  .col-xs-8 { 
    grid-column: span 8;
  }
  .col-xs-9 { 
    grid-column: span 9;
  }
  .col-xs-10 { 
    grid-column: span 10;
  }
  .col-xs-11 { 
    grid-column: span 11;
  }
  .col-xs-12 { 
    grid-column: span 12;
  }
}

@media only screen and (min-width: 600px) {
  .col-sm-1 { 
    grid-column: span 1;
  }
  .col-sm-2 { 
    grid-column: span 2;
  }
  .col-sm-3 { 
    grid-column: span 3;
  }
  .col-sm-4 { 
    grid-column: span 4;
  }
  .col-sm-5 { 
    grid-column: span 5;
  }
  .col-sm-6 { 
    grid-column: span 6;
  }
  .col-sm-7 { 
    grid-column: span 7;
  }
  .col-sm-8 { 
    grid-column: span 8;
  }
  .col-sm-9 { 
    grid-column: span 9;
  }
  .col-sm-10 { 
    grid-column: span 10;
  }
  .col-sm-11 { 
    grid-column: span 11;
  }
  .col-sm-12 { 
    grid-column: span 12;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-1 { 
    grid-column: span 1;
  }
  .col-md-2 { 
    grid-column: span 2;
  }
  .col-md-3 { 
    grid-column: span 3;
  }
  .col-md-4 { 
    grid-column: span 4;
  }
  .col-md-5 { 
    grid-column: span 5;
  }
  .col-md-6 { 
    grid-column: span 6;
  }
  .col-md-7 { 
    grid-column: span 7;
  }
  .col-md-8 { 
    grid-column: span 8;
  }
  .col-md-9 { 
    grid-column: span 9;
  }
  .col-md-10 { 
    grid-column: span 10;
  }
  .col-md-11 { 
    grid-column: span 11;
  }
  .col-md-12 { 
    grid-column: span 12;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-1 { 
    grid-column: span 1;
  }
  .col-lg-2 { 
    grid-column: span 2;
  }
  .col-lg-3 { 
    grid-column: span 3;
  }
  .col-lg-4 { 
    grid-column: span 4;
  }
  .col-lg-5 { 
    grid-column: span 5;
  }
  .col-lg-6 { 
    grid-column: span 6;
  }
  .col-lg-7 { 
    grid-column: span 7;
  }
  .col-lg-8 { 
    grid-column: span 8;
  }
  .col-lg-9 { 
    grid-column: span 9;
  }
  .col-lg-10 { 
    grid-column: span 10;
  }
  .col-lg-11 { 
    grid-column: span 11;
  }
  .col-lg-12 { 
    grid-column: span 12;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl-1 { 
    grid-column: span 1;
  }
  .col-xl-2 { 
    grid-column: span 2;
  }
  .col-xl-3 { 
    grid-column: span 3;
  }
  .col-xl-4 { 
    grid-column: span 4;
  }
  .col-xl-5 { 
    grid-column: span 5;
  }
  .col-xl-6 { 
    grid-column: span 6;
  }
  .col-xl-7 { 
    grid-column: span 7;
  }
  .col-xl-8 { 
    grid-column: span 8;
  }
  .col-xl-9 { 
    grid-column: span 9;
  }
  .col-xl-10 { 
    grid-column: span 10;
  }
  .col-xl-11 { 
    grid-column: span 11;
  }
  .col-xl-12 { 
    grid-column: span 12;
  }
}

.container {

}

.row {
  display: grid;
  /* grid-gap: 5px; */
  /* grid-template-columns: repeat(12, minmax(1fr, 350px)); */
  grid-template-columns: repeat(12, 1fr);
  overflow: auto;
  resize: horizontal;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 3px 2px #5d5d5d;
  background-color: #f5f2f2;  
}

.card .card-header {
  font-size: 14pt;
  border-bottom: 2px dashed #2c2b2b;  
}

.card .card-body {
  font-size: 12pt;
}

.row-tile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 4fr));
  grid-gap: 10px;
  overflow: auto;
  resize: horizontal; 
  padding: 10px;   
}

.row-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
  grid-gap: 10px;
  overflow: auto;
  resize: horizontal; 
  padding: 10px; 
}

.row-footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 4fr));
  overflow: auto;
  resize: horizontal;
  padding: 10px;  
}

#leaflet-map {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.unused-trash-later {
  /* grid-column-start: 1;
  grid-column-end: -1; */
  /* or */
  grid-column: 1/-1;
  grid-auto-rows: 80px;
  grid-template-rows: 50px;
  padding: 10px;
}
/*  content style */
